/* FUENTES */

@font-face{
	font-family: 'Comic Neue';
	src: url('./assets/fonts/comic-neue/ComicNeue-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'Comic Neue';
	src: url('./assets/fonts/comic-neue/ComicNeue-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}



body{
    max-width: 1440px; /* ancho máximo que va a tener nuestra web*/
    margin: 0 auto; /* la posicionamos en medio */
    font-family: 'Comic Neue';
    font-weight: normal;
    background-color: #99E2FF;
}

@import 'scss/utilities/variables';
@import 'scss/utilities/mixin';
@import 'scss/layouts/_header';
@import 'scss/layouts/_main-banner';
@import 'scss/layouts/_suscribe';
@import 'scss/layouts/_app';
@import 'scss/layouts/_genesis-box';
@import 'scss/layouts/_news';
@import 'scss/layouts/_footer';
@import 'scss/base/_reset';



