@charset "UTF-8";
/* FUENTES */
@font-face {
  font-family: "Comic Neue";
  src: url("./assets/fonts/comic-neue/ComicNeue-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Comic Neue";
  src: url("./assets/fonts/comic-neue/ComicNeue-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
body {
  max-width: 1440px; /* ancho máximo que va a tener nuestra web*/
  margin: 0 auto; /* la posicionamos en medio */
  font-family: "Comic Neue";
  font-weight: normal;
  background-color: #99E2FF;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 15px 0;
  color: black;
  background-color: white;
  border-bottom: 3px solid rgba(211, 211, 211, 0.5);
  width: 100%;
}
.header__logo {
  width: 35px;
}
.header .nav {
  font-size: 12px;
  font-weight: bold;
  width: 70%;
}
.header .nav__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.header .nav__item {
  margin: 0;
  padding: 10px;
}
.header .nav__item:hover {
  color: white;
  background-color: #99E2FF;
  border-radius: 8px;
  box-shadow: 0px 2px 0px #6d96d8;
}
.header__button {
  margin: 0;
  padding: 2px 15px;
  color: white;
  background-color: #80B1FF;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0px 2px 0px #6d96d8;
  border-radius: 8px;
}
.header__button:hover {
  color: white;
  background-color: #99E2FF;
  box-shadow: 0px 2px 0px #6d96d8;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header .nav {
    font-size: 22px;
  }
  .header__button {
    font-size: 22px;
  }
}
@media screen and (min-width: 1024px) {
  .header .nav {
    font-size: 22px;
  }
  .header__button {
    font-size: 22px;
  }
}
.main-banner {
  width: 100%;
  position: relative;
}
.main-banner__title {
  position: absolute;
  margin: 0 auto;
  padding: 0;
  width: 60%;
  top: 50px;
  left: 0;
  right: 0;
  text-align: center;
}
.main-banner__text-1 {
  width: 70%;
}
.main-banner__text-2 {
  width: 40%;
}
.main-banner__button {
  /* tamaño y posición */
  margin: 0 auto;
  padding: 1% 0;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  width: 150px;
  /* diseño */
  color: #6d96d8;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 3px 0px #6d96d8;
  border: 2px solid;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.main-banner__button:hover {
  color: white;
  background-color: #6d96d8;
  box-shadow: 0px 3px 0px white;
}

.suscribe {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0;
  color: white;
  background-color: #80B1FF;
  width: 100%;
}
.suscribe__description {
  width: 40%;
  font-weight: bold;
}
.suscribe__form {
  width: 30%;
}
.suscribe__form form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: normal;
  align-items: center;
}
.suscribe__title {
  font-size: 26px;
  text-shadow: 2px 0px #5086dc;
}
.suscribe__subtitle {
  font-size: 20px;
}
.suscribe__input {
  margin: 0;
  padding: 8px 20px;
  color: lightgray;
  background-color: white;
  font-family: "Comic Neue";
  font-weight: bold;
  max-width: 90%;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0px 3px 0px #6d96d8;
  border: 1px solid lightgray;
}
.suscribe__submit {
  margin: 10px 0 0 0;
  padding: 8px 20px;
  color: #6d96d8;
  background-color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid;
  box-shadow: 0px 3px 0px #6d96d8;
}
.suscribe__submit:hover {
  color: white;
  background-color: #6d96d8;
  box-shadow: 0px 3px 0px white;
}

.app {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  padding: 0;
  width: 90%;
}
.app__img {
  min-width: 200px;
  max-width: 400px;
}
.app__description {
  min-width: 200px;
  max-width: 500px;
}
.app__title {
  color: white;
  background-color: none;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0px 2px #80b1ff;
}
.app__text {
  margin: 24px 0 0 0;
  padding: 0;
  color: #313A71;
  background-color: none;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .app__title {
    font-size: 22px;
  }
  .app__text {
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .app__title {
    font-size: 24px;
  }
  .app__text {
    font-size: 20px;
  }
}
.genesis-box {
  margin: 10px auto;
  padding: 0;
  position: relative;
  width: 430px;
}
.genesis-box__description {
  margin: 0;
  padding: 20px;
  position: absolute;
  width: 50%;
}
.genesis-box__background {
  border-radius: 30px;
}
.genesis-box__text {
  margin: 10px 0 0 0;
  padding: 0;
  color: white;
  background-color: none;
  font-weight: bold;
  font-size: 10px;
  line-height: 1.5;
}
.genesis-box__box {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}
.genesis-box__button {
  margin: 0;
  padding: 5px 15px;
  color: white;
  background-color: none;
  font-weight: bold;
  text-align: center;
  font-size: 10px;
  width: 40%;
}
.genesis-box__button-buy {
  margin: 5px 0 0 0;
  padding: 0;
  color: white;
  background-color: #80B1FF;
  border-radius: 8px;
  box-shadow: 0px 2px 0px #6d96d8;
}
.genesis-box__button-learn {
  margin: 5px 0 0 0;
  padding: 0;
  text-shadow: 0px 2px black;
}

.news {
  margin: 80px auto;
  padding: 0;
  width: 90%;
}
.news__header {
  margin: 0 auto;
  padding: 0;
  max-width: 70%;
}
.news__list {
  margin: 50px 0 0 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: start;
}
.news__item {
  margin: 15px auto;
  padding: 0;
  min-width: 250px;
  width: 40%;
}
.news__img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.news__description {
  color: none;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.news__title {
  margin: 0;
  padding: 20px 20px 0px 20px;
  color: #313A71;
  background-color: none;
  font-weight: bold;
  font-size: 18px;
}
.news__date {
  margin: 0;
  padding: 20px;
  color: darkgray;
  background-color: none;
  font-weight: bold;
  font-size: 16px;
}

@media screen and (min-width: 1024px) {
  .news__item {
    min-width: 200px;
    width: 20%;
  }
}
.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  color: none;
  background-color: #FFA4D4;
  width: 100%;
  min-height: 100px;
}
.footer__img {
  width: 100px;
}
.footer__copy {
  margin: 10px 0 0 0;
  padding: 0;
  color: #FC7CC5;
  background-color: none;
  font-weight: bold;
}

/*

  Con este reset vamos a resolver:
    👉 Unificar el uso de Custom Properties
    👉 Problemas de box-model más generales
    👉 Problemas con imagenes, vídeos e iconos svg
    👉 Problemas con tipografías y etiquetas input en formularios
    👉 Unificar la tipografía de todas las etiquetas de una web

*/
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
}/*# sourceMappingURL=main.css.map */