
/* HEADER */

.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 0;
    background-color: white;
    border-bottom: 3px solid rgba(211, 211, 211,0.5);
    width: 100%;
    &__logo{
        width: 35px;
    }
    .nav{
        font-size: 15px;
        font-weight: bold;
        width: 70%;
        &__list{
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        &__item{
            display: inline-block;
            padding: 10px;
            &:hover{
                color: white;
                background-color: #99E2FF;
                border-radius: 50px;
                
            }
        }
    }
    &__button{
        text-decoration: none;
        font-weight: bold;
        color: white;
        background-color: #80B1FF;
        box-shadow: 0px 2px 0px #6d96d8;
        border-radius: 8px;
        padding: 2px 15px;
        &:hover{
            color: #6d96d8;
            background-color: #99E2FF;
            box-shadow: 0px 2px 0px #6d96d8;
            
        }
    }
}

