
.footer{
    @include flex(flex, row nowrap, space-around, center);
    @include colorized(none,#FFA4D4);
    width: 100%;
    min-height: 100px;
    &__img{
        width: 100px;
    }
    &__copy{
        @include spaceling (10px 0 0 0, 0);
        @include colorized(#FC7CC5, none);
        font-weight: bold;
    }
}


