
.genesis-box{
    @include spaceling(10px auto, 0);
    position: relative;
    width: 430px;

    &__description{
        @include spaceling(0, 20px);
        position: absolute;
        width:50%;
    }
    &__background{
        border-radius: 30px;
    }
    &__text{
        @include spaceling(10px 0 0 0, 0);
        @include colorized($color-secundary, none);
        font-weight: bold;
        font-size: 10px;
        line-height: 1.5;
    }
    &__box{
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
    }
    &__button{
        @include spaceling(0,5px 15px);
        @include colorized($color-secundary, none);
        font-weight: bold;
        text-align: center;
        font-size: 10px;
        width: 40%;
    }
    &__button-buy{
        @include spaceling(5px 0 0 0, 0);
        @include colorized($color-secundary, $color-fifth);
        border-radius: 8px;
        box-shadow: 0px 2px 0px #6d96d8;
    }
    &__button-learn{
        @include spaceling(5px 0 0 0, 0);
        text-shadow: 0px 2px black;
    } 
}


