
.genesis-box{
    @include spaceling(2em auto, 0);
    position: relative;
    width: 430px;

    &__description{
        @include spaceling(0, 2em);
        position: absolute;
        width:50%;
    }
    &__background{
        border-radius: 30px;
    }
    &__text{
        @include spaceling(1em 0 0 0, 0);
        @include colorized($color-secundary, none);
        font-weight: bold;
        font-size: 10px;
        line-height: 1.5;
    }
    &__box{
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
    }
    &__button{
        @include spaceling(0,1em 1.5em);
        @include colorized($color-secundary, none);
        font-weight: bold;
        text-align: center;
        font-size: 10px;
        width: 50%;
    }
    &__button-buy{
        @include spaceling(1em 0 0 0, 0);
        @include colorized($color-secundary, $color-fifth);
        border-radius: 8px;
        box-shadow: 0px 2px 0px #6d96d8;
    }
    &__button-learn{
        @include spaceling(1em 0 0 0, 0);
        text-shadow: 0px 2px black;
    } 
}

@media screen and (min-width:1024px){
    .genesis-box{
        width: 800px;

        &__text{
            font-size: 20px;
        }
        &__button{
            font-size: 20px;
        }

    }

}


