
.main-banner{
    width: 100%;
    position: relative;
    
    &__title{
        position: absolute;
        @include spaceling(0 auto);
        width: 60%;
        top: 50px;
        left: 0;
        right: 0;
    }
    &__text-1{
        @include spaceling(0 auto);
        width: 70%;
    }
    &__text-2{
        @include spaceling(0 auto);
        width: 40%;
    }
    &__button{
            /* tamaño y posición */
        @include spaceling(0 auto, 1% 0);
        position: absolute;
        bottom:50px;
        left: 0;
        right: 0;
        width: 150px;
            /* diseño */
        @include colorized ($color-fourth, $color-secundary);
        border-radius: 8px;
        box-shadow: 0px 3px 0px #6d96d8;
        border:2px solid;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        &:hover{
            @include colorized ($color-secundary, $color-fourth);
            box-shadow: 0px 3px 0px white;
        }
    }    
    
}
