
.news{
    @include spaceling(80px auto);
    width: 90%;

    &__header{
        @include spaceling(0 auto);
        max-width: 60%;
    }
    &__list{
        @include spaceling(50px 0 0 0);
        @include flex(flex, row wrap, space-between, start);
    }

    &__item{
        @include spaceling(15px auto);
        min-width: 250px;
        width: 40%;
    }
    &__img{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    &__description{
        @include colorized($background-color:$color-secundary);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        
    }
    &__title{
        @include spaceling(0, 20px 20px 0px 20px);
        @include colorized(#313A71);
        font-weight: bold;
        font-size: 18px;
    }
    &__date{
        @include spaceling(0, 20px);
        @include colorized(darkgray);
        font-weight: bold;
        font-size: 16px;
    }  
}


@media screen and (min-width:1024px){
    .news{
        &__item{
            min-width: 200px;
            width: 20%;
        }
    }
}
