
.suscribe{
    @include flex(flex, row nowrap, space-around, center);
    @include spaceling(0 auto, 20px 0);
    @include colorized ($color-secundary, $color-fifth);
    width: 100%;

    &__description{
        width: 40%;
        font-weight: bold;
    }
    &__form{
        width: 30%;

        form{
            @include flex ($flex-flow:column nowrap, $align-items:center);
        }
    }
    &__title{
        font-size: 26px;
        text-shadow: 2px 0px #5086dc;
    }
    &__subtitle{
        font-size: 20px;
    }
    &__input{
        @include spaceling(0, 8px 20px);
        @include colorized (lightgray, $color-secundary);
        font-family: 'Comic Neue';
        font-weight: bold;
        max-width: 90%;
        font-size: 16px;
        border-radius: 8px;
        box-shadow: 0px 3px 0px #6d96d8;
        border: 1px solid lightgray;
    }
    &__submit{
        @include spaceling(10px 0 0 0, 8px 20px);
        @include colorized ($color-fourth, $color-secundary);
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        border-radius: 8px;
        border:1px solid;
        box-shadow: 0px 3px 0px #6d96d8;

        &:hover{
            @include colorized ($color-secundary, $color-fourth);
            box-shadow: 0px 3px 0px white;
        }
    }
}


